/* https://www.palettable.io/FCF2D2-278C62-4E6680-B5C2A1-03439E */

:root {
  --color0: #FCF2D2;
  --color1: #278C62;
  --color2: #4E6680;
  --color3: #B5C2A1;
  --color4: #03439E;
}

* {
  margin: 0;
}

body {
  font-family: 'Noto Sans Japanese', Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  overflow: hidden;
  text-align: center;
  background-color: #FFF;
  color: var(--color2);
}

.dev {
  width: 80%;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 35px;
}

a,
a:link,
a:visited {
  color: var(--color1);
}

#dev {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 5px;
}