* {
  margin: 0;
}

body {
  font-family: 'Noto Sans Japanese', Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  overflow: hidden;
  text-align: center;
  background-color: #FFF;
}

.dev {
  width: 80%;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 35px;
}

a {
  color: gold;
}

#dev {
  color: #000000;
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 5px;
}